@use "sass:color";

$primary-color: #132633;
$secondary-color: #2ecc71;
$border-color: #000000;
$bg-color: #1d4d84;

#ControlPanel {
  display: flex;
  justify-content: center;
}

.background {
  height: 100vh;
  width: 80vw;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
.panel:focus,
.panel:active,
.panel:hover {
  cursor: pointer;
  filter: drop-shadow(16px 16px 20px $primary-color);
}

.top-box {
  width: 300px;
  height: 150px;
  border: 4px solid $border-color;
  background: linear-gradient(180deg, color.adjust($primary-color, $lightness: 10%) 0%, $primary-color 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4), inset -3px -3px 8px rgba(255, 255, 255, 0.2);
  margin-bottom: -20px;
  z-index: 10;

  .inner-box {
    width: 250px;
    height: 100px;
    border: 2px solid $border-color;
    background: linear-gradient(180deg, color.adjust($secondary-color, $lightness: 20%) 0%, $secondary-color 100%);
    border-radius: 5px;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.3), inset -3px -3px 6px rgba(255, 255, 255, 0.2);
  }
}

.middle-bar {
  width: 50px;
  height: 250px;
  border: 4px solid $border-color;
  background: linear-gradient(180deg, color.adjust($primary-color, $lightness: 5%) 0%, $primary-color 100%);
  margin-bottom: -50px;
  border-radius: 10px;
  box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.2);
  z-index: 5;
}

.bottom-box {
  width: 200px;
  height: 150px;
  border: 4px solid $border-color;
  background: linear-gradient(180deg, color.adjust($primary-color, $lightness: 10%) 0%, $primary-color 100%);
  border-radius: 10px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4), inset -3px -3px 8px rgba(255, 255, 255, 0.2);
}
